/* Layout Container */
.layout-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #121212;
  /* Dark background */
  color: white;
  /* Default text color */
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.gradient-text {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff007f, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-size: 12px;
  color: #b3b3b3;
  margin: 15px 0 5px 15px;
  text-transform: uppercase;
}

.active-menu-item {

  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.menu-item {
  margin: 5px 0;
}

.menu-item:hover {
  background-color: #333333;
  border-radius: 8px;
}

.blue-item {
  color: #00bfff;
}

.logout-color {
  color: inherit;
}

.logout-item {
  color: #ff0080;
}

.logout-item:hover {
  color: whitesmoke;
}

/* Content Area */
.content {
  flex-grow: 1;
  /* padding: 20px; */
  overflow-y: auto;
}

.css-1t8x7v1>.ps-menu-button:hover {
  background-color: #ff00ff !important;
}

.css-1wvake5.ps-collapsed {
  width: 85px !important;
}

a {
  text-decoration: none;
  color: whitesmoke;
}